body {
  background: linear-gradient(#1e0b56, #0e0529) !important;
  background-image: url('https://knit.finance/img/parallax-dark.webp') !important;
}

.ui.form .ui.dropdown,
.ui.form input:not([type]),
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='email'],
.ui.form input[type='file'],
.ui.form input[type='number'],
.ui.form input[type='password'],
.ui.form input[type='search'],
.ui.form input[type='tel'],
.ui.form input[type='text'],
.ui.form input[type='time'],
.ui.form input[type='url'],
.ui.form textarea {
  line-height: 28px !important;
  border: 2px solid #4824d4 !important;
}

code,
pre {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace !important;
}

.ui.primary.button {
  background-color: #7b5eea !important;
}

.topmenusec {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.ui.text.container {
  min-width: 75vw !important;
}

.ui.menu {
  margin: 0 !important;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .ui.menu.mobilenav {
    display: block !important;
  }

  .ui.menu.screennav {
    display: none !important;
  }
}

.centermiddle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px auto;
  flex-direction: column;
}

.whatyouget {
  min-height: 100%;
  box-sizing: border-box;
  color: #fff;
}

.ui.statistics {
  margin: 0 !important;
}