body {
    background: rgb(0, 0, 0);
    background-image: radial-gradient(
        #031530,
        #140e23,
        #160717,
        #10030b,
        #000000
    ) !important;
}

.ui.form .ui.dropdown,
.ui.form input:not([type]),
.ui.form input[type='date'],
.ui.form input[type='datetime-local'],
.ui.form input[type='email'],
.ui.form input[type='file'],
.ui.form input[type='number'],
.ui.form input[type='password'],
.ui.form input[type='search'],
.ui.form input[type='tel'],
.ui.form input[type='text'],
.ui.form input[type='time'],
.ui.form input[type='url'],
.ui.form textarea {
    border: 2px solid #020024 !important;
}

code,
pre {
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
        'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
        'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
        monospace !important;
}

.wallet {
    font-family: 'Monaco', 'Courier New', Courier, monospace !important;
    letter-spacing: 1px;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for WebKit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    max-width: 80%;
}

.topmenusec {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.ui.text.container {
    min-width: 75vw !important;
}

.ui.menu {
    margin: 0 !important;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .ui.menu.mobilenav {
        display: block !important;
    }

    .ui.menu.screennav {
        display: none !important;
    }
}

.centermiddle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

.centermiddleswap {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

.tab-middle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

.row-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.whatyouget {
    min-height: 100%;
    box-sizing: border-box;
    color: #fff;
}

.ui.statistics {
    margin: 0 !important;
}

.swapv2 {
    border-radius: 20px;
    background-color: #222;
    padding: 15px;
    width: 40vw;
}

.swapdetails {
    border-radius: 20px;
    background-color: #151515;
    padding: 15px;
    width: 38vw;
    margin-top: -30px;
    padding-top: 30px;
}

.step2 {
    background-color: #373737;
}

.step2 .ui.segments,
.step3 .ui.message {
    border: 0 none;
    box-shadow: unset;
}

.step3 {
    background-color: #373737;
}

.step3 .message {
    background-color: transparent !important;
    color: #fff;
}

.step3 .message .header {
    color: green;
}

@media only screen and (max-width: 992px) {
    .swapv2 {
        width: 96vw;
    }

    .swapdetails {
        width: 94vw;
    }
}

.ui.inverted.form input:not([type]),
.ui.inverted.form input[type='date'],
.ui.inverted.form input[type='datetime-local'],
.ui.inverted.form input[type='email'],
.ui.inverted.form input[type='file'],
.ui.inverted.form input[type='number'],
.ui.inverted.form input[type='password'],
.ui.inverted.form input[type='search'],
.ui.inverted.form input[type='tel'],
.ui.inverted.form input[type='text'],
.ui.inverted.form input[type='time'],
.ui.inverted.form input[type='url'] {
    background: #000 !important;
    border: 1px solid #444 !important;
    color: #fff !important;
}

.ui.label,
.ui.dropdown .menu,
.ui.dropdown .menu > .item {
    background-color: #444 !important;
    color: #fff !important;
}

.ui.dropdown .menu .active.item,
.ui.dropdown .menu .item:hover {
    background-color: #333 !important;
}

.reslt {
    margin: 15px 0;
    display: block;
}

.ui.statistics {
    display: flex;
    justify-content: space-between;
}

.ui.form .ui.dropdown {
    border: 0 !important;
}

.ui.labeled.input > .label:not(.corner) {
    width: 140px;
}

.resltul {
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.green {
    color: green !important;
}

.text {
    color: #ddd;
}

.footer {
    margin-left: 5px;
    font-size: 14px;
    color: #eee;
}

.tab-right {
    text-align: right;
    font-size: 0.9rem;
}

.fixed {
    position: fixed;
    bottom: 0;
}

ul.network-tab {
    list-style: none;
    display: inline-flex;
    padding: 0;
    font-size: 0.8rem;
}

.uppercase {
    text-transform: uppercase;
}

ul.network-tab li {
    margin-right: 8px;
}

ul.network-tab li.active {
    color: #21ba45 !important;
}

.netinfo {
    float: left;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.small-text {
    font-size: 10px;
}

.netinfo.error {
    color: red;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui.form .field .ui.input input.search {
    width: 140px !important;
}
.ui.search.dropdown > input.search {
    padding: 0.68em;
}

.ui.secondary.inverted.pointing.menu {
    border-width: unset !important;
    border-color: transparent !important;
}
